.home-page .home-footer-wrapper {
  height: auto;
  background: #3f3f3f !important;
  color: fade(#fff, 65);
  font-size: 14px;
  .home-layout {
    padding: 72px 32px 64px;
    text-align: center;
  }
  .logo{ margin-bottom: 5px; }
  .logo img {
    width: 72px;
    height: auto;
  }
  .footer-info {
    margin-top: 16px;
    line-height: 1.8;
    p {
      margin: 0 0 6px;
    }
  }
}

@media (min-width: 769px) {
  .home-page .home-footer-wrapper .logo img {
    width: 33%;
    max-width: 320px;
  }
}
